Package: com.noisyflake.velvet2
Name: Velvet 2
Version: 2.1.2
Architecture: iphoneos-arm
Description: A fully customizable notification experience
Maintainer: NoisyFlake
Author: NoisyFlake
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader
Conflicts: com.initwithframe.velvet
