{
	items = (
		{
			cell = PSGroupCell;
			label = "Border";
		},
		{
			cell = PSLinkListCell;
			defaults = "com.noisyflake.velvet2";
			key = "borderType";
			detail = PSListItemsController;
			label = "Border Color";
			validValues = ("default", "icon", "color", "gradient");
			validTitles = ("Default (None)", "App Icon Color", "Custom Color", "Custom Gradient");
		},
		{
			cell = PSSliderCell;
			cellClass = Velvet2Slider;
			defaults = "com.noisyflake.velvet2";
			key = borderIconAlpha;
			min = 0;
			max = 100;
			showValue = 1;
			require="borderType=icon";
			label="Opacity";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "borderColor";
			label = "Color";
			require = "borderType=color";
		},
		{
			cell = PSLinkListCell;
			defaults = "com.noisyflake.velvet2";
			key = "borderGradientDirection";
			detail = PSListItemsController;
			label = "Gradient Direction";
			validValues = ("cornerTop", "right", "bottom", "cornerBottom");
			validTitles = ("\U2197", "\U2192", "\U2193", "\U2198");
			require = "borderType=gradient";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "borderGradient1";
			label = "Color 1";
			require = "borderType=gradient";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "borderGradient2";
			label = "Color 2";
			require = "borderType=gradient";
		},
	);
	title = "Background";
}