{
	items = (
		{
			cell = PSGroupCell;
		},
		{
			cell = PSSwitchCell;
			cellClass = Velvet2Switch;
			cellSubtitleText = "Show a custom line at the edge";
			default = 1;
			defaults = "com.noisyflake.velvet2";
			key = lineEnabled;
			label = "Enable Line";
			systemIcon = "power";
		},
        {
			cell = PSLinkListCell;
			cellClass = "Velvet2LinkCell";
			defaults = "com.noisyflake.velvet2";
			key = "linePosition";
			detail = PSListItemsController;
			label = "Position";
			validValues = ("top", "right", "bottom", "left", "topBottom", "leftRight");
			validTitles = ("Top", "Right", "Bottom", "Left", "Top & Bottom", "Left & Right");
			require = "lineEnabled";
			systemIcon = "mappin.and.ellipse";
		},
        {
			cell = PSSliderCell;
			cellClass = Velvet2Slider;
			defaults = "com.noisyflake.velvet2";
			key = lineWidth;
			min = 1;
			max = 5;
			showValue = 1;
			require = "lineEnabled";
			label = "Size";
			systemIcon = "textformat.size";
		},
		{
			cell = PSGroupCell;
			label = "Type";
			require = "lineEnabled";
		},
		{
			cell = PSDefaultCell;
			cellClass = Velvet2AppearanceCell;
			options = (
				{
					text = "Icon Color";
					value = "icon";
					systemIcon = "wand.and.stars";
				},
				{
					text = "Static Color";
					value = "color";
					systemIcon = "eyedropper";
				},
				{
					text = "Gradient";
					value = "gradient";
					systemIcon = "humidity.fill";
				},
			);
			defaults = "com.noisyflake.velvet2";
			key = "lineType";
			height = 130;
			require = "lineEnabled";
		},
		{
			cell = PSGroupCell;
			label = "Options";
			require = "lineEnabled";
		},
		{
			cell = PSSliderCell;
			cellClass = Velvet2Slider;
			defaults = "com.noisyflake.velvet2";
			key = lineIconAlpha;
			min = 0;
			max = 100;
			showValue = 1;
			require = "lineEnabled&lineType=icon";
			label = "Opacity";
			systemIcon = "eye";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "lineColor";
			label = "Color";
			require = "lineEnabled&lineType=color";
			systemIcon = "drop.circle";
		},
		{
			cell = PSLinkListCell;
			cellClass = "Velvet2LinkCell";
			defaults = "com.noisyflake.velvet2";
			key = "lineGradientDirection";
			detail = PSListItemsController;
			label = "Gradient Direction";
			validValues = ("cornerTop", "right", "bottom", "cornerBottom");
			validTitles = ("\U2197", "\U2192", "\U2193", "\U2198");
			require = "lineEnabled&lineType=gradient";
			systemIcon = "arrow.left.arrow.right";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "lineGradient1";
			label = "Color 1";
			require = "lineEnabled&lineType=gradient";
			systemIcon = "drop.circle";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "lineGradient2";
			label = "Color 2";
			require = "lineEnabled&lineType=gradient";
			systemIcon = "drop.circle";
		},
	);
	title = "Line";
}