{
	items = (
		{
			cell = PSGroupCell;
		},
		{
			cell = PSSwitchCell;
			cellClass = Velvet2Switch;
			cellSubtitleText = "Use a custom background color";
			default = 1;
			defaults = "com.noisyflake.velvet2";
			key = backgroundEnabled;
			label = "Enable Background";
			systemIcon = "power";
		},
		{
			cell = PSGroupCell;
			label = "Type";
			require = "backgroundEnabled";
		},
		{
			cell = PSDefaultCell;
			cellClass = Velvet2AppearanceCell;
			options = (
				{
					text = "Icon Color";
					value = "icon";
					systemIcon = "wand.and.stars";
				},
				{
					text = "Static Color";
					value = "color";
					systemIcon = "paintbrush";
				},
				{
					text = "Gradient";
					value = "gradient";
					systemIcon = "circle.righthalf.filled";
				},
			);
			defaults = "com.noisyflake.velvet2";
			key = "backgroundType";
			height = 130;
			require = "backgroundEnabled";
		},
		{
			cell = PSGroupCell;
			label = "Options";
			require = "backgroundEnabled";
		},
		{
			cell = PSSliderCell;
			cellClass = Velvet2Slider;
			defaults = "com.noisyflake.velvet2";
			key = backgroundIconAlpha;
			min = 0;
			max = 100;
			showValue = 1;
			require = "backgroundEnabled&backgroundType=icon";
			label = "Opacity";
			systemIcon = "eye";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "backgroundColor";
			label = "Color";
			require = "backgroundEnabled&backgroundType=color";
			systemIcon = "eyedropper";
		},
		{
			cell = PSLinkListCell;
			cellClass = "Velvet2LinkCell";
			defaults = "com.noisyflake.velvet2";
			key = "backgroundGradientDirection";
			detail = PSListItemsController;
			label = "Gradient Direction";
			validValues = ("cornerTop", "right", "bottom", "cornerBottom");
			validTitles = ("\U2197", "\U2192", "\U2193", "\U2198");
			require = "backgroundEnabled&backgroundType=gradient";
			systemIcon = "arrow.left.arrow.right";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "backgroundGradient1";
			label = "Color 1";
			require = "backgroundEnabled&backgroundType=gradient";
			systemIcon = "eyedropper";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "backgroundGradient2";
			label = "Color 2";
			require = "backgroundEnabled&backgroundType=gradient";
			systemIcon = "eyedropper";
		},
	);
	title = "Background";
}