{
	items = (
		{
			cell = PSGroupCell;
		},
		{
			cell = PSSwitchCell;
			cellClass = Velvet2Switch;
			cellSubtitleText = "Show a custom border";
			default = 1;
			defaults = "com.noisyflake.velvet2";
			key = borderEnabled;
			label = "Enable Border";
			systemIcon = "power";
		},
		{
			cell = PSSliderCell;
			cellClass = Velvet2Slider;
			defaults = "com.noisyflake.velvet2";
			key = borderWidth;
			min = 1;
			max = 5;
			showValue = 1;
			require = "borderEnabled";
			label = "Size";
			systemIcon = "textformat.size";
		},
		{
			cell = PSGroupCell;
			label = "Type";
			require = "borderEnabled";
		},
		{
			cell = PSDefaultCell;
			cellClass = Velvet2AppearanceCell;
			options = (
				{
					text = "Icon Color";
					value = "icon";
					systemIcon = "wand.and.stars";
				},
				{
					text = "Static Color";
					value = "color";
					systemIcon = "eyedropper";
				},
				{
					text = "Gradient";
					value = "gradient";
					systemIcon = "humidity.fill";
				},
			);
			defaults = "com.noisyflake.velvet2";
			key = "borderType";
			height = 130;
			require = "borderEnabled";
		},
		{
			cell = PSGroupCell;
			label = "Options";
			require = "borderEnabled";
		},
		{
			cell = PSSliderCell;
			cellClass = Velvet2Slider;
			defaults = "com.noisyflake.velvet2";
			key = borderIconAlpha;
			min = 0;
			max = 100;
			showValue = 1;
			require = "borderEnabled&borderType=icon";
			label = "Opacity";
			systemIcon = "eye";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "borderColor";
			label = "Color";
			require = "borderEnabled&borderType=color";
			systemIcon = "drop.circle";
		},
		{
			cell = PSLinkListCell;
			cellClass = "Velvet2LinkCell";
			defaults = "com.noisyflake.velvet2";
			key = "borderGradientDirection";
			detail = PSListItemsController;
			label = "Gradient Direction";
			validValues = ("cornerTop", "right", "bottom", "cornerBottom");
			validTitles = ("\U2197", "\U2192", "\U2193", "\U2198");
			require = "borderEnabled&borderType=gradient";
			systemIcon = "arrow.left.arrow.right";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "borderGradient1";
			label = "Color 1";
			require = "borderEnabled&borderType=gradient";
			systemIcon = "drop.circle";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "borderGradient2";
			label = "Color 2";
			require = "borderEnabled&borderType=gradient";
			systemIcon = "drop.circle";
		},
	);
	title = "Border";
}