{
	items = (

		// ========== BACKGROUND ========== //

		{
			cell = PSGroupCell;
			label = "Surface";
		},
		{
			cell = PSLinkCell;
			cellClass = Velvet2LinkCell;
			isController = 1;
			detail = Velvet2CustomizationController;
			label = "Background";
			systemIcon = "rectangle.fill";
		},
		{
			cell = PSLinkCell;
			cellClass = Velvet2LinkCell;
			isController = 1;
			detail = Velvet2CustomizationController;
			label = "Border";
			systemIcon = "rectangle";
		},
		{
			cell = PSLinkCell;
			cellClass = Velvet2LinkCell;
			isController = 1;
			detail = Velvet2CustomizationController;
			label = "Glow";
			systemIcon = "wand.and.stars";
		},
		{
			cell = PSGroupCell;
			label = "Label";
		},
		{
			cell = PSLinkCell;
			cellClass = Velvet2LinkCell;
			isController = 1;
			detail = Velvet2CustomizationController;
			label = "Title";
			systemIcon = "character.bubble";
		},
		{
			cell = PSLinkCell;
			cellClass = Velvet2LinkCell;
			isController = 1;
			detail = Velvet2CustomizationController;
			label = "Message";
			systemIcon = "text.bubble";
		},
		{
			cell = PSLinkCell;
			cellClass = Velvet2LinkCell;
			isController = 1;
			detail = Velvet2CustomizationController;
			label = "Date";
			systemIcon = "calendar";
		},
		{
			cell = PSGroupCell;
			label = "Extras";
		},
		{
			cell = PSSwitchCell;
			cellClass = Velvet2Switch;
			cellSubtitleText = "Custom background corner radius";
			default = 1;
			defaults = "com.noisyflake.velvet2";
			key = cornerRadiusEnabled;
			label = "Corner Radius";
			systemIcon = "rectangle.roundedtop";
        },
		{
			cell = PSSliderCell;
			cellClass = Velvet2Slider;
			defaults = "com.noisyflake.velvet2";
			key = cornerRadiusCustom;
			min = 0;
			max = 60;
			showValue = 1;
			require="cornerRadiusEnabled";
		},
		{
			cell = PSGroupCell;
			require = "cornerRadiusEnabled";
		},
		{
			cell = PSSwitchCell;
			cellClass = Velvet2Switch;
			cellSubtitleText = "Custom app icon corner radius";
			default = 1;
			defaults = "com.noisyflake.velvet2";
			key = appIconCornerRadiusEnabled;
			label = "Icon Corner Radius";
			systemIcon = "circle.square";
        },
		{
			cell = PSSliderCell;
			cellClass = Velvet2Slider;
			defaults = "com.noisyflake.velvet2";
			key = appIconcornerRadiusCustom;
			min = 0;
			max = 60;
			showValue = 1;
			require="appIconCornerRadiusEnabled";
		},

	);
	title = "Global Settings";
}