{
	items = (

		// ========== CORNER RADIUS ========== //

		{
			cell = PSGroupCell;
			label = "Corner Radius";
		},
		{
			cell = PSSwitchCell;
			default = 1;
			defaults = "com.noisyflake.velvet2";
			key = cornerRadiusEnabled;
			label = "Custom Corner Radius";
        },
		{
			cell = PSSliderCell;
			defaults = "com.noisyflake.velvet2";
			key = cornerRadiusCustom;
			min = 0;
			max = 60;
			showValue = 1;
			require="cornerRadiusEnabled";
		},

		// ========== BACKGROUND ========== //

		{
			cell = PSGroupCell;
			label = "Background";
		},
		{
			cell = PSLinkListCell;
			defaults = "com.noisyflake.velvet2";
			key = "backgroundType";
			detail = PSListItemsController;
			label = "Background Color";
			validValues = ("default", "icon", "color", "gradient");
			validTitles = ("Default", "App Icon Color", "Custom Color", "Custom Gradient");
		},
		{
			cell = PSSliderCell; // TODO: Use own slider class to fix the Apple nonsense 
			defaults = "com.noisyflake.velvet2";
			key = backgroundIconAlpha;
			min = 0;
			max = 100;
			showValue = 1;
			require="backgroundType=icon";
			label="Opacity";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "backgroundColor";
			label = "Color";
			require = "backgroundType=color";
		},
		{
			cell = PSLinkListCell;
			defaults = "com.noisyflake.velvet2";
			key = "backgroundGradientDirection";
			detail = PSListItemsController;
			label = "Gradient Direction";
			validValues = ("cornerTop", "right", "bottom", "cornerBottom");
			validTitles = ("\U2197", "\U2192", "\U2193", "\U2198");
			require = "backgroundType=gradient";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "backgroundGradient1";
			label = "Color 1";
			require = "backgroundType=gradient";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "backgroundGradient2";
			label = "Color 2";
			require = "backgroundType=gradient";
		},

		// ========== BORDER ========== //

		{
			cell = PSGroupCell;
			label = "Border";
		},
		{
			cell = PSLinkListCell;
			defaults = "com.noisyflake.velvet2";
			key = "borderType";
			detail = PSListItemsController;
			label = "Border Color";
			validValues = ("default", "icon", "color", "gradient");
			validTitles = ("Default (None)", "App Icon Color", "Custom Color", "Custom Gradient");
		},
		{
			cell = PSSliderCell; // TODO: Use own slider class to fix the Apple nonsense 
			defaults = "com.noisyflake.velvet2";
			key = borderIconAlpha;
			min = 0;
			max = 100;
			showValue = 1;
			require="borderType=icon";
			label="Opacity";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "borderColor";
			label = "Color";
			require = "borderType=color";
		},
		{
			cell = PSLinkListCell;
			defaults = "com.noisyflake.velvet2";
			key = "borderGradientDirection";
			detail = PSListItemsController;
			label = "Gradient Direction";
			validValues = ("cornerTop", "right", "bottom", "cornerBottom");
			validTitles = ("\U2197", "\U2192", "\U2193", "\U2198");
			require = "borderType=gradient";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "borderGradient1";
			label = "Color 1";
			require = "borderType=gradient";
		},
		{
			cell = PSLinkCell;
			defaults = "com.noisyflake.velvet2";
			cellClass = Velvet2ColorPicker;
			key = "borderGradient2";
			label = "Color 2";
			require = "borderType=gradient";
		}

	);
	title = "Global Settings";
}